


<h1>Detalhes de Usuários</h1>
<p>ID: <%= user.id %></p>
<p>Nome: <%= user.nome></p>
<p>Email: <%= user.email %></p>
<p>DataNasc: <%= user.dataNasc></p>
<p>Senha: <%= user.senha></p>
<a href="/users" class="btn btn-primary">Voltar para lista</a>
